{% extends 'core/base.html' %} 
{% block head_title %}Banking System{% endblock%} 
{% block content %}

<body>
  <h1 class="mb-3 mt-10" style="display: flex; justify-content: center">
    Please place your finger on the Finger Print sensor
  </h1>

  <div style="display: flex; justify-content: center">
    <img
      style="display: flex; justify-content: center"
      src="https://th.bing.com/th/id/OIP.iEB26aXE4ClDEpKGvD_vbAHaER?pid=ImgDet&rs=1"/>
  </div>

  <div class="mt-5" style="display: flex; justify-content: center; color: red;">
    <div id="message"></div>
  </div>

  <form id="fingerprint-form">
    {% csrf_token %}
    <input type="text" id="location" value="11" hidden />
    <div class="mt-5" style="display: flex; justify-content: center">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Enroll Fingerprint</button>
    </div>
  </form>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function () {
    $("#fingerprint-form").submit(function (event) {
      event.preventDefault();

      var location = $("#location").val();

      // Using SSE to receive real-time updates
      url = "/transactions/fingerprint_register/"
      var eventSource = new EventSource(url);
      eventSource.onmessage = function(event) {
        $("#message").append(event.data + "<br>");
      };

      eventSource.onclose = function() {
        $("#message").append("Fingerprint registration process completed.<br>");
        eventSource.close();
      };
      
      /*
      // If you want to use AJAX instead of SSE, you can use this code block
      $.ajax({
        type: "POST",
        url: "/transactions/fingerprint_register/",
        data: {
          location: location,
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        dataType: "json",
        success: function (response) {
          if ("message" in response) {
            // Do any additional actions on success
          } else if ("status" in response) {
            alert(response.status);
            // Do any additional actions on error
          } else if ("error" in response) {
            alert(response.error);
            // Do any additional actions on error
          }
        },
        error: function (xhr, status, error) {
          console.error(error);
          // Handle the error condition
        },
      });
      */
    });
  });
</script>

{% endblock %}
