{% extends 'core/base.html' %} 
{% block head_title %}Banking System{% endblock%} 
{% block content %}

<body>
  <h1 class="mb-3 mt-10" style="display: flex; justify-content: center">
    Please place your finger on the Finger Print sensor
  </h1>

  <div style="display: flex; justify-content: center">
    <img
      style="display: flex; justify-content: center"
      src="https://th.bing.com/th/id/OIP.iEB26aXE4ClDEpKGvD_vbAHaER?pid=ImgDet&rs=1"/>
  </div>

  <div class="mt-5" style="display: flex; justify-content: center; color: red;">
    <p id="error-message"></p>
  </div>

  <form id="fingerprint-form">
    {% csrf_token %}
    <input type="text" id="location" value="11" hidden />
    <div class="mt-5" style="display: flex; justify-content: center">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Enroll Fingerprint</button>
    </div>
  </form>

  <div style="color: red;" id="message"></div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  
  $(document).ready(function () {
    $("#fingerprint-form").submit(function (event) {
      event.preventDefault();

      var location = $("#location").val();

      $.ajax({
        url: "/transactions/fingerprint_register/",
        method: "POST",
        data: {
            csrfmiddlewaretoken: "{{ csrf_token }}", // Include CSRF token
            location: location
        },

        success: function (response) {
          var stepMessage = $("#step-message");
        
          if (response.status == "Fingerprint recorded") {
            stepMessage.text("Fingerprint recorded successfully");
          } else if (response.status == "An error occurred") {
            stepMessage.text("An error occurred");
          } else if (response.status == "Place finger on sensor...") {
            stepMessage.text("Place finger on sensor...");
          } else if (response.status == "Place same finger again...") {
            stepMessage.text("Place same finger again...");
          } else if (response.status == "Remove finger") {
            stepMessage.text("Remove finger");
            } else if (response.status == "Creating model...") {
              stepMessage.text("Creating model...");
          } else if (response.status == "Created") {
            // Redirect to the "deposit_money" page
            window.location.href = "/transactions/deposit_money/";  // Replace with the actual path
          }
        },
        
        error: function () {
          $("#error-message").text("An error occurred ");
        },
      });
    });

    $("#fingerprint-form").submit(function (event) {
      event.preventDefault();
      setInterval(function() {
      
          $.ajax({
            url:'/transactions/get_status/',
            method:'GET',
            success: function (response) {
              $("#error-message").text(response.status);
              if (response.status == 'Stored'){
                window.location.href = "{% url 'transactions:deposit_money' %};
              }
            }
          })
        }, 5000)
    })
  });
</script>

{% endblock %}
