{% extends 'core/base.html' %}

{% block head_title %}Banking System{% endblock %}

{% block content %}
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
            <p class="font-bold">Error!</p>
            <p class="block sm:inline">{{ error }}</p>
        </div>
    {% endfor %}
{% endif %}
<h1 class="font-mono font-bold text-3xl text-center pb-5 pt-10">Sign In</h1>
<hr>
<div class="w-full mt-10">
    <form id="fingerprint-form" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        <div style="display: flex; justify-content: center">
            <img
              style="display: flex; justify-content: center; height: 160px;"
              src="https://th.bing.com/th/id/R.cb6e093978097bb213790ff9ea8da39d?rik=bcZFpdG5Lmr9fQ&riu=http%3a%2f%2fpngimg.com%2fuploads%2ffingerprint%2ffingerprint_PNG82.png&ehk=dGCsUF3WVUjHQKZXOgOyM4u0exPHiFO%2fq90rjQ7Mxqg%3d&risl=&pid=ImgRaw&r=0"/>
          </div>
        {% comment %} <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.username.id_for_label }}">
                {{ form.username.label }}
            </label>
            <input class="shadow appearance-none border border-gray-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" type="{{ form.username.field.widget.input_type }}">
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div> {% endcomment %}

        <div class="mt-5" style="display: flex; justify-content: center; color: red; font-size: 20px;">
            <p id="error-message"></p>
        </div>
        
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.password.id_for_label }}">
                {{ form.password.label }}
            </label>
            <input id="password-input" 
            class="shadow appearance-none border border-gray-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" type="{{ form.password.field.widget.input_type }}">
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        

        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Sign In
            </button>
        </div>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
  
  $(document).ready(function () {
    $("#fingerprint-form").submit(function (event) {
      event.preventDefault();

      var password = $("#password-input").val().trim();

      if (password === '') {
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Please enter your pin',
            timer: 5000,
            timerProgressBar: true,
            showConfirmButton: false
        });
    }

    else {
      $.ajax({
        url: "/accounts/login/",
        method: "POST",
        data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            password: password
        },

        success: function (response) {
          var stepMessage = $("#step-message");
          url = '/transactions/report/'
          if (response.success) {
            window.location.href = url;
          }
          if (response.status == "Place your finger on the sensor...") {
            stepMessage.text("Place your finger on the sensor...");
          } else if (response.status == "Finger not found") {
            stepMessage.text("Finger not found");
          } else if (response.status == "Remove finger") {
            stepMessage.text("Remove finger");
          } else if (response.status == "Searching...") {
            stepMessage.text("Searching...");
          } else if (response.status == "Detected") {
            stepMessage.text("Detected");
          }
        },
        
        error: function () {
          $("#error-message").text("An error occurred ");
        },
      });
    }
    });

    $("#fingerprint-form").submit(function (event) {
      event.preventDefault();
      setInterval(function() {
      
          $.ajax({
            url:'/transactions/search_status/',
            method:'GET',
            success: function (response) {
              $("#error-message").text(response.status);
              if (response.status == 'Stored'){
                window.location.href = "/transactions/deposit/";
              }
            }
          })
        }, 2000)
    })
  });
</script>

{% endblock %}

